{% extends 'base.html.twig' %}

{% block title %}Connexion !{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="mt-5">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="alert alert-info">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal text-center">Veuillez vous connecter</h1>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Mot de passe</label>
                    <div class="input-group">
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <input type="checkbox" id="showPasswordCheckbox">
                                <label for="showPasswordCheckbox">Afficher le mot de passe</label>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMe" name="_remember_me">
                    <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
                </div>
                    
                <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>  
            </form>
            <a href="{{ path('app_forgot_password_request') }}" class="forgot-password-link">Mot de passe oublié</a>
        </div>
    </div>
</div>

<script>
    const showPasswordCheckbox = document.getElementById('showPasswordCheckbox');
    const passwordInput = document.getElementById('inputPassword');

    showPasswordCheckbox.addEventListener('change', function() {
        if (this.checked) {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    });
</script>
{% endblock %}
