{% extends 'base.html.twig' %}

{% block title %}Lessons{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {# Left Column: Languages #}
        <div class="col-md-6">
            <h2>Languages</h2>
            <ul class="list-group">
                {# Loop through each language #}
                {% for language in languages %}
                    <li class="list-group-item"><a href="{{ path('app_list_lesson', {id : language.id }) }}">{{language.name}}</a></li>
                {% endfor %}
            </ul>
        </div>

        {# Right Column: Lessons #}
        <div class="col-md-6">
            <h2>Lessons</h2>
            <ul class="list-group">
                {# Loop through each lesson #}
                {% for plop in lessons %}
                    {# Audio player for the lesson #}
                    <audio src="https://6a63fca904fd268f15f7-d5770ffdd579eb31eaa89faeffc55fe7.ssl.cf1.rackcdn.com/elementary-podcasts-s01-e01.mp3" controls="" style="width:100%" controlslist="nodownload" id="html5_audio_ol0hjrsmyxl"></audio>

                    {# Displaying the title of the lesson #}
                    <h2 class="list-group-item text-center">- {{ plop.title }}</h2>
                    
                    {# Displaying the transcription and language of the lesson #}
                    <li class="list-group-item text-justify">{{ plop.transcription }} - {{ plop.language.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
