{% extends 'base.html.twig' %}

{% block title %}Index des Quiz{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4 mb-3 text-center">Index des Quiz</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for quiz in quizzes %}
                <tr>
                    <td>{{ quiz.id }}</td>
                    <td>{{ quiz.title }}</td>
                    <td>{{ quiz.description }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="{{ path('app_quiz_show', {'id': quiz.id}) }}" class="btn btn-info btn-sm mr-1">Voir</a>
                            <a href="{{ path('app_quiz_edit', {'id': quiz.id}) }}" class="btn btn-primary btn-sm mr-1">Modifier</a>
                            <form action="{{ path('app_quiz_delete', {'id': quiz.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quiz.id) }}">
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?')">Supprimer</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4" class="text-center">Aucun enregistrement trouvé</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-6 text-center">
            <a href="{{ path('app_quiz_new') }}" class="btn btn-success">Créer un nouveau Quiz</a>
        </div>
    </div>
</div>
{% endblock %}
