{% extends 'base.html.twig' %}

{% block title %}
    Lesson-show
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4 mb-3 text-center">Détails de la leçon</h1>

    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Id</th>
                        <td>{{ lesson.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Titre</th>
                        <td>{{ lesson.title }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Transcription</th>
                        <td>{{ lesson.transcription }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Source</th>
                        <td>{{ lesson.src }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <a href="{{ path('app_lesson_index') }}" class="btn btn-secondary mr-2">Retour à la liste</a>
                <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}" class="btn btn-primary mr-2">Modifier</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Supprimer</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmation de suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cette leçon ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <form action="{{ path('app_lesson_delete', {'id': lesson.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
